
*{
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
canvas{
	width: 1000px;
	height: 500px;
	border: 1px solid #ccc;
	display: block;
	margin: 0 auto;
	box-shadow: 0 7px 20px 3px #ccc;
}
div.top{
	width: 1200px;
	height: auto;
	margin: 0 auto;
	background:url(../img/bg.jpg);
	overflow: hidden;	
}
.gongneng{
	width: 30%;
	float: left;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	color: #333;
	border: 1px solid #fff;
	height: 102px;
}

 p{
	width: 100%;
	margin: 10px;
}
.shape{
	width: 40%;
	float: left;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	color: #333;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #fff;
	height: 102px;
}
.style{
	width: 30%;
	float: left;
	color: #333;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #fff;
	font-size: 14px;
	position: relative;
}

button{
	padding:0 5px ;
	border:1px solid #64c878;
	box-shadow: 0 1px 2px #b9ecc4 inset,0 -1px 0 #6c9f76 inset,0 -2px 3px #b9ecc4 inset;
	background: -webkit-linear-gradient(top,#90dfa2,#84d494);
	background: -moz-linear-gradient(top,#90dfa2,#84d494);
	background: linear-gradient(top,#90dfa2,#84d494);
	text-shadow:1px 1px 1px #333;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	outline: none;
}

button.open{
	background: #00BFFF;
	color: #fff;
}

.style>input.fillColor{
	position: absolute;
	right: 30%;
	top:23%;
	display: none;
}

.style>input.strokeColor{
	position: absolute;
	right: 30%;
	top:23%;
	display: none;
	
}

.style>input.begin{
	position: absolute;
	right: 30%;
	top:23%;
	display: none;
	
}

.style>input.over{
	position: absolute;
	right: 15%;
	top:23%;
	display: none;	
}

#shadowcolor{
	position: absolute;
	left: 197px;
	top:47px;
	display: none;
}

#shadowblur{
	position: absolute;
	left:260px;
	top:50px;
	width: 80px;
	display: none;
	
}

#n{
	position: absolute;
	left:-272px;
	top:43px;
	width: 80px;
	display: none;	
}
#r{
	position: absolute;
	left:-180px;
	top:43px;
	width: 80px;
	display: none;	
}

.intrdus{
	width:1000px;
	height: 500px;
	margin: 50px auto;
	padding: 20px;
	text-align: center;
	line-height: 25px;	
	box-sizing: border-box;
	position: absolute;
	top: 54px;
	left: 183px;
	background: rgba(0,0,0,0.1);
	color: #333;
}


.donghua{
	width: 100%;
	height: 100%;
	background: url(../img/bg.jpg);
	position: absolute;
	z-index: 100000;
	text-align: center;
}

.donghua>span{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: auto;
	height: 100px;
	margin: auto;
	display: block;
	font-size: 50px;
	color: #fff;
	text-align: center;
	font-weight:bold ;
}

.mosaica {
  position: fixed;
  left: 2px;
  bottom: 2px;
  padding: 4px 6px;
  color: #FFFFFF;
  font-family: "Montserrat";
  font-size: 11px;
  letter-spacing: 0.06em;
}

.container {
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  perspective: 1200px;
  transform-origin: center center;
  cursor: move;
  z-index: 10000;
}

.plane {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  margin: -350px 0 0 -450px;
  transform-style: preserve-3d;
}
.plane:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: translateZ(-1px);
}

.items {
  position: relative;
  transform-style: preserve-3d;
}

.item {
  background-color: pink;
  position: absolute;
  overflow: hidden;
  /*border: 1px solid #64c878;*/
}

.item:nth-child(2n+1){
	background: aquamarine;
}

.item:nth-child(3n+1){
	background: #25c5ff;
}

.item:nth-child(4n+1){
	background: #ffa7f0;
}

.item:nth-child(5n+1){
	background: yellow;
}

.item:nth-child(6n+1){
	background: #ffc757;
}

.item:nth-child(7n+1){
	background: #b124ff;
}

.item:nth-child(8n){
	background: #fffb89;
}

@keyframes animate {
  0% {
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1);
    transform-origin: 50% 50% 0;
    opacity: 1;
  }
  100% {
    transform: translate3d(0px, 0px, 1200px) rotateX(180deg) rotateY(360deg) rotateZ(180deg) scale3d(0, 0, 0);
    transform-origin: 50% 50% 0;
    opacity: 1;
  }
}
.item.animate {
  transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1);
  transform-origin: 50% 50% 0;
  animation: animate 2s forwards;
}
